body{
    background-color: #f3f3f3;
}

h1{
    color: black;
	font-family: serif;
}

h5{
    width: 100%;
    /*border-bottom: 1px solid black;*/
    /*align*/
    /*background-color: pink;*/
    color: black;
	font-family: serif;
}

.reset{
  font-size: 3em;
} 

.leaflet-control-zoomhome-in,
.leaflet-control-zoomhome-out {
  font: bold 18px 'Lucida Console', Monaco, monospace;
  text-align: center;
  }

.leaflet-popup-content-wrapper {
	background: white;
    background: rgba(255,255,255,0.8);
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
	font: 14px, Helvetica, sans-serif;
}

.leaflet-popup-tip {
	border: 0px;
}

.info {
	padding: 6px 8px;
    font: 20px/22px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
	
}

i{
    margin-left: 2px;
}

.container{
    max-width: 100%;
    width: 100%;
    height: 100%;
    position: relative;
}

.controls{
    width: 75%;
    margin-left: 13.5%;
    margin-bottom: 10px;
}

.row{
    /*border: 2px solid white;*/
    text-align: center;
	font-family: serif;
}

.row label{
    text-align: left;
    width: 100%;
    text-align: center;
    margin-bottom: 1px;
    
    color: black;
}

.leaflet-left .leaflet-control {
    margin-left: 10; /*3.375 = 25% (width of the panel) * 13.5% (margin of other buttons)*/
    margin-bottom: 15;
}


#map{
    /*float: right;*/
    /*width: 75%;*/
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#title{
    display: inline;
    color: black;
    text-align: center;
	font-family: serif;
}

#titleText{
    margin-top: 10px;
    margin-bottom: 10px;
	text-align: center;
}






